.login-container {
    display: flex;
    height: 100vh;
  
    .left-section {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #750139;
  
      .login-logo {
        max-width: 60%;
        height: auto;
      }
    }
  
    .right-section {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #750139;
  
      .form-container {
        width: 80%;
        height: 80%;
        max-width: 400px;
        padding: 20px;
        background: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
  
        h1 {
          text-align: center;
          margin-bottom: 20px;
        }
  
        .error-message {
          color: red;
          text-align: center;
          margin-bottom: 10px;
        }
  
        .input-group {
          margin-bottom: 15px;
  
          label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
          }
  
          .input-container {
            display: flex;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 8px;
  
            input {
              flex: 1;
              border: none;
              outline: none;
              padding: 5px;
            }
  
            .icon-right,
            .icon-left {
              cursor: pointer;
              margin-left: 5px;
            }
          }
        }
  
        .signin-btn {
          width: 100%;
          padding: 10px;
          background: #007bff;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
  
          &:hover {
            background: #0056b3;
          }
        }
      }
    }
  }
  