/* profilemain.scss */
html, body {
  margin: 0;
  padding: 0;
 
  background-color: #750139;
  height: 100%;
}

.content-wrapper {
  height: 100%;
  padding: 20px;
  
}

.white-layer {
  height: calc(100% - 40px); // Subtract content-wrapper padding
  background-color: #750139;
  
}

.pink-layer {
  background-color: #ffffff;
  width: 100%;
 
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
