@font-face {
    font-family: 'Nunito';
    src: url('/fonts/nunito-v26-latin-regular.woff2') format('woff2'),
         url('/fonts/nunito-v26-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Nunito', sans-serif;
}
