// Profiles.scss
.profile-content {
  background-color: #1f1f1f;
  color: #fff;
  padding: 20px;
  border-radius: 8px;

  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .profile-avatar {
      margin-right: 15px;
    }

    .profile-name {
      color: #fff;
      margin: 0;
    }

    .photo-actions {
      margin-top: 10px;
      
      .upload-button {
        background-color: #ff3b30;
        border: none;
      }

      .remove-button {
        color: #ff3b30;
        margin-left: 8px;
      }
    }
  }

  .profile-form {
    width: 100%;

    .form-input {
      background-color: #2a2a2a;
      color: #fff;
      border: none;
      border-radius: 4px;
      height: 40px;
      margin-bottom: 10px;
      

      &::placeholder {
        color: #aaa;
      }

      &:disabled {
        background-color: #494747;
        color: #ffffff;
      }
    }

    .gender-radio {
      color: #fff;

      .ant-radio-wrapper {
        color: #fff;

        &:hover .ant-radio-inner {
          border-color: #ff3b30;
        }
      }

      .ant-radio-checked .ant-radio-inner {
        background-color: #ff3b30;
        border-color: #ff3b30;
      }
    }

    .form-actions {
      .edit-profile-btn {
        background-color: #ff3b30;
        border: none;
        border-radius: 4px;
        width: 100%;
        height: 40px;
      }

      .action-buttons {
        display: flex;
        gap: 10px;

        .cancel-btn {
          background-color: #2a2a2a;
          color: #fff;
          border: none;
          flex: 1;
          border-radius: 4px;
          height: 40px;
        }

        .save-btn {
          background-color: #ff3b30;
          border: none;
          flex: 1;
          border-radius: 4px;
          height: 40px;
        }
      }
    }
  }
}